body{
	font-family: Arial, Verdana, sans-serif;
	background-color: hsl(35, 70%,40%);
}
h1{
	color: hsl(50, 100%,20%);
	text-shadow: 3px 3px 3px #666666;
}
p{
	margin: 2%;
	padding: 1%;
	min-width: 10%;
	min-height: 5%;
	background-color: hsl(40, 20%,50%);
	border: dashed;
}
body>table{
	width: 98%;
	height: auto;
	margin: 1%;
}
a:link {
	color: deeppink;
	text-decoration: none;}
a:visited {
	color: black;}
a:hover {
	color: deeppink;
	text-decoration: underline;}
a:active {
	color: darkcyan;}
img{
	width: 40%;
	height:50%;
	position:center;
}
body>div{
	margin: 1em;
	height: auto;
	border: double;
	padding: 1%;
	background-color: hsl(90, 40%,50%);
}
div:hover{
	background-color: hsl(40,100%,70%);
}
div:active{
background-color: hsl(90, 40%,50%);
}
div>a{
	display: block;
}
tr{
	width: inherit;
	height: inherit;
	background-color: hsl(12, 100%,60%);
}
tr>th{
	border: solid .02em black;
}
th:hover{
	background-color: hsl(20, 40%,60%);
}
td{
	margin: 2em;
	padding: 1em;
	border: solid .02em black;
}
td:hover{
	background-color:hsl(20, 50%, 80%);
}
.position{
	text-align: center;
}
.shadow{
	text-shadow: -2px -2px hsl(20, 40%,60%);
}
#name{
	font-family: serif;
	font-size: 120%;
}
#box{
	border-width: 5px;
	border: solid;
	border-color: gray;
}